/*
* Стилізація сторінки
*/


body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Arial;

}

.page {
  max-width: 950px; /* максимальна ширина */
  margin: 0 auto;
  padding: 70px;
  background-color: #fff;
  border: 2px solid lightgray;
}
/*
* Стилізація header сайту
*/

.first-header-component {
  width: 100%; /* розмір таблиці становить 80% від розміру вікна */
  margin: -40px auto 0 auto; /* переміщаємо таблицю вище на 20 пікселів */
  height: 70px;

}

.first-header-component a {
  display: block;
  padding-left: 10px;
  height: 100%;
  table-layout: fixed;
  text-decoration: none;
  font-size: 50px;
  font-family: "Times New Roman";
  color: white; /* білий колір тексту */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* тінь тексту */
  -webkit-text-stroke: 1px #eb4f34; /* обводка тексту */
}

.first-header-component td:nth-child(2){
  display: block;
  vertical-align: middle;
  text-align: right;
  padding-right: 10px;
  height: 70px;
  padding-top: 10px;
}

.first-header-component input {
  height: 31px;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  width: 100%;
  max-width: 190px;
}


.first-header-component button {
  background-color: white;
  color: #eb513d;
  border-color: #eb513d;
  height: 35px;
  width: 80px;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 10px;
}

.second-header-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.second-header-component a, .second-header-component button {
  flex: 1 0 auto;
}

.second-header-component a {
  height: 100%;
  table-layout: fixed;
  text-decoration: none;
  font-size: 25px;
  color: #eb513d;
  margin-left: 20px;
}

.second-header-component button {
  background-color: white;
  color: #eb513d;
  border-color: #eb513d;
  height: 40px;
  width: 110px;
  font-size: 16px;
  margin-right: 20px;
  justify-self: end;
}

.second-header-component .button_Add_teacher {
  margin-right: 8px;
}

.second-header-component .links {
  margin-left: 0px;
}

/*
* Стилізація пункту "Top teacher"
*/
.line {
  width: 400px;
  height: 1.5px;
  background-color: black;
  margin: 10px auto 0 auto;
}

h2 {
  text-align: center;
  font-size: 38px;
}

.top_teacher-component {
  text-align: center;
  border-collapse: collapse; /* З'єднуємо бордери */
  width: 95%;
}

.top_teacher-component td {
  border-left: 2px dotted dimgrey; /* Додаємо лівий бордер до кожної комірки */
  border-right: none; /* Видаляємо правий бордер */
}

.top_teacher-component td:first-child {
  border-left: none; /* Видаляємо лівий бордер у першої комірки */
}

.top_teacher-component td:last-child {
  border-right: none; /* Видаляємо правий бордер у останньої комірки */
}

.top_teacher-component td span {
  color: gray;
}

.top_teacher-component td label {
  color: gray;
}

.top_teacher-component select {
  height: 30px;
}

.top_teacher-component .sex {
  width: 58px;
}

.top_teacher-component .age {
  width: 55px;
}

.top_teacher-component .region {
  width: 70px;
}

.photo-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photo-item {
  flex-basis: calc(20% - 20px); /* Змінюйте це значення для керування кількістю фотографій в рядку */
  margin: 10px;
  text-align: center;
}

.photo-item img, .photo-item-second img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Зробити фотографію круглою */
  border: 5px solid orange; /* Додати помаранчеву рамку */
}

.photo-item .name, .photo-item-second .name {
  font-size: 20px;
  font-weight: bold;
}

.photo-item .subject, .photo-item-second .subject {
  color: dimgrey;
  font-size: 16px;
}

.photo-item .region, .photo-item-second .region {
  font-size: 12px;
}

.statistics {
  text-align: center;
  border-collapse: collapse; /* З'єднуємо бордери */
  width: 100%;
}

.statistics td:first-child {
  text-align: left;
  padding-left: 10px;
}

.statistics th:first-child {
  text-align: left;
  padding-left: 20px;
}

.statistics th {
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 19px;
  font-weight: normal;
}

.statistics tr {
  height: 25px;
}

.statistics .second_tr {
  background-color: #e6e1e8;
}

.statistics td {
  width: 20%;
}

.continue {
  width: 200px;
}

.continue a {
  text-decoration: none;
  color: #68bdbb;
}

.angle-bracket-first {
  background: none;
  border: none;
  font-size: 5em;
  cursor: pointer;
  margin-left: -40px;
}

.angle-bracket-second {
  background: none;
  border: none;
  font-size: 5em;
  cursor: pointer;
  margin-right: -40px;
}

.photo-item-second {
  flex-basis: calc(20% - 20px); /* Змінюйте це значення для керування кількістю фотографій в рядку */
  margin: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    flex-basis: 100%; /* Змушує кожен блок займати всю ширину контейнера */
    min-width: 50%; /* Встановлює мінімальну ширину блоку, щоб вони не стискався */
  }
}

#teacherInfoPopup {
  display: none;
}

#addTeacherPopup {
  display: none;
}

/* Стилі для попапу */
.popup {
  position: fixed; /* Залишається на місці навіть при прокрутці сторінки */
  z-index: 1; /* Знаходиться над всіма іншими елементами */
  left: 0;
  top: 0;
  width: 100%; /* Ширина повного екрану */
  height: 100%; /* Висота повного екрану */
  overflow: auto; /* Додає прокрутку, якщо потрібно */
  background-color: rgb(30,30,1); /* Чорний фон з прозорістю */
  background-color: rgba(0,0,0.5,0.3); /* Чорний фон з прозорістю */
}


/* Стилі для контенту попапу */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% від верхнього краю, автоматично по боках */
  padding: 0;
  border: 1px solid #888;
  width: 700px; /* Ширина контенту */
}

/* Стилі для кнопки закриття попапу */
.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer; /* Змінити курсор на вказівник при наведенні */
}

.adder-header {
  background-color: #383837;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 30px;
}

.adder-header h2{
  font-size: 20px;
  font-weight: normal;
}

.adder-body {
  display: flex;
}

.adder-body .info {
  text-align: justify;
  margin-left: 15px; /* Додаємо відстань зліва від тексту */
}

.content-under {
  margin: 15px;
}

.adder-body img {
  width: 250px;
  height: 250px;
}

.content-under a, .mail {
  color: #68bdbb;
}

.content-under a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.content-under {
  font-size: 13px;
}

.content-under h3{
  font-size: 26px;
  font-weight: normal;
  margin-top: 5px;
}

.popup-content-info {
  background-color: #fefefe;
  margin: 15% auto; /* 15% від верхнього краю, автоматично по боках */
  padding: 0;
  border: 1px solid #888;
  width: 400px; /* Ширина контенту */
}

.content-info-under {
  padding: 20px;
}

.content-info-under label {
  font-size: 13px;
  color: dimgrey;
}

#color {
  margin-left: 30px;
}

.label-sex {
  margin-right: 20px;
}

#name, #date, #notes {
  width: 98%;
  height: 26px;
}

#city, #phone {
  width: 185px;
  height: 26px;
}

#email {
  height: 26px;
  width: 90%;
}

#country {
  height: 31px;
  width: 95%;
}

#speciality {
  width: 100%;
  height: 31px;
}

#notes {
  width: 98.5%;
  height: 70px;
}

.add {
  width: 100%;
  height: 45px;
  background-color: white;
  border: 2px solid #eb513d;
  color: #eb513d;
  font-size: 20px;
  font-weight: bold;
}